.session-speaker-img {
  image-rendering: pixelated;
}

/* phase 3 changes */
.phase-3 .break,
.phase-3 .session-title,
.phase-3 .session-time,
.phase-3 .monty-2nd .sponsor-title {
  font-size: 18px;
}

.phase-3 .sessions-titles .session-title:before {
  content: '';
  margin-right: 0;
}

.phase-3 .schedule-logo {
  height: 1.4em;
  width: 1.4em;
  display: inline-block;
  vertical-align: top;
}

.phase-3 .session-wrapper {
  border-bottom: 2px dashed rgba(14, 255, 255, 0.5);
}

/* bespoke page changes */
.page-cfp .cta,
.page-scholarship .cta {
  display: block;
  max-width: 70%;
  margin: 0 auto 1.6rem auto;
}

.page-workshop .workshop-title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.workshop-list h4 {
  margin-top: 20px;
}

.workshop-content-wrapper {
  padding-top: 20px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.page-home .home {
  flex: 1 0 90%;
}

.page-tickets .wrapper {
  box-shadow: none;
}

.page-tickets .tickets {
  padding: 10%;
  font-size: 14px;
}

.page-tickets .main-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

.page-tickets.tone {
  background: #00c0c0;
}

.page-tickets.countdown .tickets {
  align-self: flex-start;
}

.page-tickets .wrapper {
  max-width: 800px;
}

.chr {
  display: inline-block;
  background: black;
  color: white;

  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% {
    background: black;
    color: white;
  }
  49% {
    background: black;
    color: white;
  }
  50% {
    background: none;
    color: black;
  }
  100% {
    background: none;
    color: black;
  }
}

/** end */

.workshop-header-content {
  text-align: center;
  padding: 20px;
}

.additional-links {
  text-transform: lowercase;
  margin-bottom: 1rem;
}

.additional-links a {
  margin-right: 0.5rem;
}

h3 {
  position: relative;
}

h3 .section-title-logo {
  vertical-align: middle;
}

/* this is a bit rubbish, sorry, re-implemented Giulia's .sub-hr' */
hr.divide {
  padding-top: 2rem;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-bottom: 0.5rem;
}

.page-sessions .quote-image-wrapper:after,
.page-sessions .quote-content-wrapper {
  padding-bottom: 2rem;
}

.page-home .home-images {
  padding: 2rem;
  /*! align-items: center; */
  /*! align-self: center; */
  /*! justify-self: center; */
}

.footer > * {
  max-width: 720px;
}

.sub-hr {
  border: 0;
}

html {
  font-size: 16px;
  line-height: 26px;
}

p.intro {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  border-bottom: 1px solid rgba(14, 255, 255, 0.5);
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.intro small {
  /* opacity: 0.7; */
  line-height: 28px;
  display: block;
  font-size: 80%;
  margin-top: 10px;
  color: rgb(191, 191, 191);
}

.section-title {
  font-size: 2.5rem;
}

h2 .section-title-logo {
  height: 2rem;
  width: 2rem;
}

.section-title {
  margin-bottom: 2rem;
}

.sessions-titles .session-about-wrapper {
  padding-left: 0;
}

.sessions-titles .session-title {
  padding-left: 0rem;
}

.sessions-titles .session-title:before {
  position: relative;
  margin-right: 1rem;
  font-size: inherit;
}

.tickets-button span {
  display: none;
}

.page-home {
  text-align: center;
}

.page-home .conf-location:before {
  display: none;
}

.page-home .button {
  padding: 0.75em 1em;
}

.page-home .tickets-button {
  margin-left: 0.5rem;
}

/* note: in dev, there's white space between the elements
   so this isn't requi
, but in production, they butt
   together, so I'm visually padding apart. */
.previous-years__list li {
  margin-left: 0.5rem;
}

/* CSS grid for homepage */

/* alternative no-grid version since IE support isn't there
   and the polyfill doesn't quite cut it (at 200K to boot). */

.home-images {
  display: none;
}

.home-images .g {
  display: none;
}

@supports (display: grid) {
  .home-images {
    display: grid !important;
    background: none !important;

    position: relative;
    align-content: end;
    grid-gap: 5px;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-columns: 1fr 1fr 0.75fr 1.5fr;
    grid-template-areas: 'c g g f' 'd d b b' 'a a b b';
  }

  .home-images .g {
    display: block;
  }

  .home-images img {
    max-width: 100%;
    max-height: 100%;
  }

  .home-images {
    overflow: hidden;
  }

  .__g {
    outline: 1px dashed red;
    overflow: hidden;
    display: block;
  }

  .g.anna {
    grid-area: a;
    /*! justify-self: end; */
    align-self: end;
    max-height: 60%;
  }

  .g.friends {
    grid-area: b;
    align-self: end;
    /*! justify-self: start; */
  }

  .g.ice {
    grid-area: c;
    align-self: start;
    justify-self: right;
  }

  .g.family {
    grid-area: d;
    align-self: start;
    justify-self: center;
  }

  .g.sara {
    grid-area: e;
    display: none; /* shown at a larger rez, sorry Sara <3 */
  }

  .g.marcy {
    grid-area: f;
    align-self: right;
  }

  .g.watching {
    grid-area: g;
  }
}

@media all and (min-width: 425px) {
  .page-home .button {
    padding: 0.75em 1.5em;
  }

  .page-home .tickets-button {
    margin-left: 1.5rem;
  }
}

@media all and (min-width: 425px) {
  @supports (display: grid) {
    .home-images {
      grid-template-rows: 10vh 10vh 20vh;
      grid-template-columns: 1fr 1fr 0.75fr 1.5fr;
      grid-template-areas: 'c g g f' 'd d e 0' 'a a b b';
    }

    .g.ice,
    .g.sara {
      align-self: initial !important;
    }

    .g.sara {
      display: block;
    }
  }
}

@media all and (max-width: 768px) {
  /* sorry… - rem */
  .page-home .tickets-button {
    display: inline-block;
  }
}

@media all and (min-width: 768px) {
  .page-home .home {
    flex: 1 0 43%;
  }

  .home-images {
    width: 60%;
    margin-right: 20px;
    position: relative;
    background: url(/images/hero/no-grid.png) no-repeat;
    background-position: left center;
    background-size: contain;
    height: 80vh;
    top: 0;
    display: block;
  }

  @supports (display: grid) {
    .home-images {
      grid-template-rows: 50vh 10vh 10vh;
      grid-template-areas: 'a b b b' 'c d e g' 'c d f g';
    }
    .g.sara,
    .g.anna,
    .g.friends {
      display: block;
    }
  }

  .page-home .conf-location:before {
    display: inline;
  }

  .page-home .home-images {
    padding: 0;
    padding-right: 2rem;
  }

  .page-home h1 .logo {
    max-height: 40vh;
    max-width: 100%;
    height: unset;
  }

  .page-home body {
    text-align: left;
  }

  .tickets-button {
    padding-right: 1rem;
  }

  .logo-link {
    width: 75px;
  }

  .logo {
    display: block;
    height: 100px;
    max-height: fit-content;
  }
}

@media all and (min-width: 1024px) {
  .with-icon,
  .with-icon + ul {
    margin-left: 4rem;
  }

  .with-icon .section-title-logo {
    height: 3rem;
    width: 3rem;
    margin-top: -0.5rem;
  }

  .tickets-button span {
    display: inline-block;
    padding-right: 0.5rem;
    padding-right: 1ch;
  }

  p.intro {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  .nav-list li {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .nav-list li:last-child {
    padding-right: 3rem;
  }

  h2 .section-title-logo {
    height: 7rem;
    width: 7rem;
  }

  .sessions-wrapper li:first-child {
    padding-top: 0;
  }

  .sessions-titles .session-about-wrapper {
    padding-left: 0;
  }

  .sessions-titles .session-title {
    padding-left: 0rem;
  }

  .sessions-titles .session-title:before {
    position: absolute;
    left: -5rem;
    font-size: 24px;
  }
}

/* padding to stop Canary from eating my code */
